---
// Astro Imports - Globals
import { Image } from 'astro:assets'

// React Imports
import { Essentials } from '../components/react/Essentials'

// Props interface
interface Props {
  title: string
  description: {
    es: string
    en: string
  }
  image: ImageMetadata
  price: string
}

// Translation Imports
import { getLangFromUrl } from '../i18n/utils'
const lang = getLangFromUrl(Astro.url)

// Astro Props
const { title, description, image, price } = Astro.props
---

<div class='flex w-full flex-col items-center justify-center gap-5'>
  <Image
    src={image}
    alt={`una fotografia de un entrenamiento de ${title}`}
    class='object-fill'
    height={250}
  />
  <div class='space-y-5'>
    <h2 class='text-bold text-2xl font-semibold leading-none tracking-tight'>
      {title}
    </h2>
    <p class='text-muted-foreground'>{description[lang]}</p>
    <h3 class='underline'>
      {lang === 'en' ? 'Price ' : 'Precio '}<strong>{price}</strong>{
        lang === 'en' ? ' * Class' : ' * Clases'
      }
    </h3>
    <small class='text-xs text-secondary'
      >{
        lang === 'en'
          ? 'we can arrange a monthly pay (with discounts)'
          : 'podemos arreglar un pago mensual (con descuentos)'
      }</small
    >
    <Essentials lang={lang} product={title} client:load />
  </div>
</div>
