---
// Astro Imports - Globals
import { Image } from 'astro:assets'
import type { CollectionEntry } from 'astro:content'

// Utils Imports
import { formatDate } from '@/lib/utils'

// Props Types
interface Props {
  post: CollectionEntry<'blog'>
}

// Astro Props
const { post } = Astro.props
const {
  slug,
  data: { title, image, imageAlt, categories, date },
} = post

// Translation Imports
import { getLangFromUrl } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
---

<article class='group space-y-4'>
  <!-- Images -->
  <a
    title={`link Post-${title}`}
    href={`/${lang}/blog/${slug}/`}
    class='flex h-52 transition duration-300 group-hover:-translate-y-2 group-hover:shadow-xl'
    aria-label={`Post-${title}`}>
    <Image
      class='h-full w-full overflow-hidden rounded-xl object-cover'
      width={400}
      height={200}
      src={image}
      alt={imageAlt}
      transition:name={'img-' + slug}
      loading='eager'
    />
  </a>

  <!-- Ctegories and Date -->
  <div class='flex items-center justify-between'>
    <div class='space-x-3'>
      {
        categories
          .slice(0, 2)
          .map((category) => (
            <p class='inline-block rounded-lg bg-accent px-3 py-1 text-xs text-white md:text-sm'>
              {category}
            </p>
          ))
      }
    </div>
    <span
      class='text-sm font-medium text-muted-foreground'
      transition:name={'date-' + slug}>
      {formatDate(date)}
    </span>
  </div>

  <!-- Title -->
  <div>
    <a
      title={`link Post-${title}`}
      href={`/${lang}/blog/${slug}/`}
      class='group-hover:underline'>
      <h2
        class='font-heading line-clamp-3 text-balance text-xl leading-snug md:text-2xl'
        transition:name={'title-' + slug}>
        {title}
      </h2>
    </a>
  </div>
</article>
