---
// Astro Imports - Components
import BaseLayout from '@/layouts/BaseLayout.astro'
import { BookingForm } from '@/components/react/BookingForm'
import { contacts } from '@/constants'
import Header from '@/components/layout/Header.astro'

import { Toaster } from '@/components/ui/toaster'

// Translation Imports
import { getLangFromUrl, useTranslations } from '@/i18n/utils'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

// create static page instead of SSR
export const prerender = true
---

<BaseLayout
  title='Nano Fighters Club in Marbella'
  description='Experience Excellence in Boxing and Kickboxing with Personalized In-Home Training in Marbella'>
  <Toaster client:load />
  <section
    class='m-auto mt-10 flex max-w-[1400px] flex-col items-center justify-center gap-5 p-5 md:gap-10 md:p-10'>
    <div class='w-full'>
      <Header
        title='Formulario Reserva'
        subtitle='Puedes reservar una clase en el'
      />
    </div>
    <div
      class='flex w-full flex-col-reverse items-center justify-between gap-5 md:flex-row md:gap-0'>
      <div
        class='space-y-6 rounded-xl border bg-primary/10 p-14 text-card-foreground shadow-sm'>
        {
          contacts.map((item) => (
            <div>
              <h4>{item.label[lang]}</h4>
              <a
                title={item.label[lang]}
                href={item.link}
                target='_blank'
                class='text-secondary transition-colors duration-200 hover:text-secondary/70'>
                {item.linkLabel}
              </a>
            </div>
          ))
        }
      </div>
      <BookingForm client:load lang={lang} />
    </div>
    <p class='px-5 md:px-10'>
      Llena todos los campos obligatorios del formulario con la información
      necesaria para asegurarnos de que podamos atenderte de la mejor manera
      posible. al completar tu reserva a través de nuestro formulario, te
      garantizamos una primera clase ¡totalmente gratis!
    </p>
  </section>
</BaseLayout>
