---
// Astro Imports - Components & Globas
import HeadSEO from '../components/layout/HeadSEO.astro'
import Footer from '../components/layout/Footer.astro'
import Navbar from '../components/layout/Navbar.astro'
import { type CollectionEntry } from 'astro:content'

// Props imterface
interface Props {
  title?: string | undefined
  description?: string | undefined
  ogImage?: URL | undefined
  url?: URL | undefined
  post?: CollectionEntry<'blog'>
}

// Astro Props
const { title, description, ogImage, url, post } = Astro.props
---

<html lang="en">
  <head>
    <HeadSEO
      title={title}
      description={description}
      ogImage={ogImage}
      url={url}
      post={post}
    />
  </head>
  <body class="min-h-screen bg-background font-sans antialiased">
    <div class="relative flex min-h-screen flex-col">
      <Navbar />
      <main class="flex-auto">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
